body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh; /* Ensure body takes full height */
}

#content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure space between media and buttons */
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

#media-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    margin: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: calc(100% - 100px); /* Full height minus button container height */
    overflow: hidden;
}

#camera-container, #captured-image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 45%;
    box-sizing: border-box;
    margin: 10px;
    max-width: 45vw;
    max-height: 45vh;
}

#button-container {
    width: 100%;
    padding: 10px 0;
    background-color: rgba(248, 249, 250, 0.8);
    text-align: center;
    box-sizing: border-box;
    position: fixed; /* Fix the position at the bottom */
    bottom: 0;
    z-index: 2;
}

#video {
    width: 100%; /* Set to 100% of the container width */
    height: auto; /* Maintain aspect ratio */
    background-color: black; /* Add a background color to maintain size when video is off */
    display: block; /* Ensure it remains a block element */
    border: 2px solid #343a40; /* Add a border */
    /* border-radius: 8px; /* Add rounded corners */
}

#captured-image {
    display: block; /* Ensure it remains a block element */
    max-width: 100%; /* Ensure the image fits within its container */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px; /* Add margin for spacing */
    border: 2px solid #343a40; /* Add a border */
    /* border-radius: 8px; /* Add rounded corners */
    position: relative; /* Ensure it aligns with the video */
    top: 0; /* Align with the top of the video */
    /* z-index: 1; /* Ensure it is below the button container */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 200px; /* Set a maximum width for buttons */
}

button:hover {
    background-color: #0056b3;
}

.load-button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 10; /* Ensure the button is above the image */
    background-color: #fff; /* Button background color */
    border: 1px solid #ccc; /* Button border */
    padding: 5px 10px; /* Button padding */
    cursor: pointer; /* Pointer cursor on hover */
}