<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UR Drawing Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/icon.ico') }}">
</head>
<body>
    <h1>UR Drawing Demo</h1>
    <div id="content-container">
        <div id="media-container">
            <div id="camera-container">
                <img src="{{ url_for('camera.video_feed') }}" id="video" width="640" height="480" alt="Video Feed">
            </div>
            <div id="image-container">
                <img src="" id="captured-image" alt="Captured Image">
                <div id="save-path"></div>
            </div>
        </div>
        <div id="button-container">
            <button id="start-button">Start Camera</button>
            <button id="stop-button">Stop Camera</button>
            <button id="capture-button">Capture Image</button>
            <button id="exit-button">Exit</button>
            <button id="load-button">Load Image</button>
            <button id="process-button">Process Image</button>
            <input type="file" id="image-file" accept="image/*" style="display: none;">
            <button id="save-button">Save</button>
            <button id="clear-button">Clear</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>